@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@400;500;600;700&display=swap');

body {
    font-family: 'Gelasio', serif;
    background-color: #e1e1e1;
}

main {
    display: grid;
    gap: 660px;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px 15px 40px;
}


.logo {
    width: 70px;
}

.logo__img {
    position: relative;
    z-index: 1;
}

.nav {
    position: relative;
    z-index: 1;
}

ul {
    display: flex;
    gap: 35px;
}

.nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}



.hero__img {
    object-fit: cover;
    object-position: top;
    width: 100vw;
    height: 80vh;
    position: absolute;
    top: 0;
    left: 0;
}

.hero__title {
    width: 65vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 88px;
    text-shadow: 3px 3px #000000;
}


.hero__btn {
    position: absolute;
    left: 50%;
    top: 62%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #146594;
    font-size: 26px;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
}



.artcles__imgs {
    position: relative;
    margin: 0 auto;
    /* margin-top: 1600px; */
    display: flex;
    flex-wrap: wrap;
}


.first {
    width: 625px;
    height: 750px;
    flex: 50%;
    object-fit: cover;
}

.second,
.three {
    width: 875px;
    height: 375px;
    flex: 50%;
    object-fit: cover;
}

.artcles h2 {
    margin: 10px;
    font-size: 42px;
    color: gray;
}

.artcles h3 {
    color: white;
}


.left,
.right-first,
.right-second {
    position: relative;
    font-size: 32px;
}


div.left>h3 {
    position: absolute;
    width: 100%;
    top: 10%;
    text-align: center;
    text-shadow: 3px 3px #000000;
}

div.right-first>h3 {
    position: absolute;
    width: 100%;
    text-align: center;
    text-shadow: 3px 3px #000000;

}

div.right-second>h3 {
    position: absolute;
    width: 100%;
    padding-left: 10px;
    bottom: 3%;
    text-align: left;
    text-shadow: 3px 3px #000000;
}


footer {
    margin-top: 40px;
    background-color: #8c8c8c;
    display: flex;
    justify-content: center;
    padding: 40px;

}

.footer__ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

footer a {
    color: #c9c9c9;
    font-size: 22px;
    text-decoration: none;
}


footer a:not(:last-child) {
    border-right: 1px solid#c9c9c9;
    padding-right: 10px;

}

.footer__ul li {
    display: flex;
    gap: 10px;
}