/* reset */
*,
*:before,
*:after {
    box-sizing: border-box;
}

/* body */

body {
    background-color: rgb(219, 219, 219);
}

h1{
    text-align: center;
}

.card {
    max-width: 300px;
    background-color: rgb(255, 255, 255);
    margin: auto auto;
    border-radius: 12px;
    box-shadow: 0px 1px 9px 0px #9b9898;
}

.card__img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.author-img {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    vertical-align: top;
}

.author {
    display: inline-block;
}

.body,
footer {
    margin: 20px;
}

div span {
    background-color: #b179bf;
    color: white;
    padding: 2px 10px 8px 10px;
    border-radius: 15px;
    text-transform:capitalize;
}

.author {
    padding: 0px 0px 6px 10px;
    margin-bottom: 20px;
}

.author-name {
    /* background-color: #b179bf; */
    padding: 0px;
    margin: 8px 0px 30px 0px;
    font-weight: bold;
}

p.ago {
    padding-top: 10px;
    padding-bottom: -19px;
    margin: -38px 0px 11px -1px
}
