@media screen and (max-width: 768px) {
    html {
        background-color: #1c7430;
    }

    .wrapper.style2 {
        flex-direction: column;
        padding: 0;
        width: 100%;
    }

    .gallery div {
        width: 100%;
    }

    .spotlight > * {
        width: 100%;
    }

    .spotlight {
        align-items: center;
        flex-direction: column;
    }

    .spotlight .inner {
        font-size: 22px;
        padding: 0;
        text-align: center;
    }

    .spotlight img {
        align-items: center;
        justify-content: center;
    }

    .spotlight p:last-child {
        color: gray;
        margin: 20px;
    }

    footer {
        font-size: 22px;
    }

    .wrapper > header h2:after {

        width: 25%;
    }
}


/*
# 02. HTTP Cats

## Tasks
* You are given an **unresponsive** website **(HTML + CSS + images)** - your task is to make the site **responsive**
* The site layout should change according to the browser **viewport / screen size**

## Constraints
* You need to implement 1 layout: 
	* **width <= 768px** 
*(Check the given screenshots for more details)*
* You are **NOT permitted** to modify the given HTML and CSS
* You are **permitted** to modify **ONLY** the **responsive.css** file
* You are **NOT permitted** to use libraries like Bootstrap 
* Pixel-perfect implementation is **NOT required**
* The site should open correctly in the latest version of Chrome
 

*/