@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --clr-yellow: #ffdd61;
    --clr-purple: #8f4fb6;
    --clr-text: #6e665b;
}

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 100;
    color: var(--clr-text);
    font-size: 18px;
}

h1 span {
    color: var(--clr-yellow);
    font-weight: bold;

}

.foure {
    margin: 100px auto;
    width: 1000px;
    height: 650px;
    background-image: url('../images/cover.jpg');
    background-repeat: no-repeat;
    border-radius: 42px;
    overflow: hidden;
    display: flex;
    gap: 40px;
    padding: 40px;
}

.both {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}

.cards {
    display: flex;
    gap: 40px;

}

.card {
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 8px;
    box-shadow: 0px 0px 10px 0px;
    gap: 30px;
}

.card h2 {

    font-size: 16px;
    font-weight: 200;
    color: var(--clr-text);
}

.card p {

    color: var(--clr-purple);
    font-weight: bold;
}