@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --clr-main: #85dcff;

}

body {
    font-family: 'Arial', sans-serif;
}

.btn {

    font-size: 20px;
    font-weight: 600;
    padding: 20px 100px;
    border-radius: 12px;
    border: 1px solid black;
    background-color: white;
}

.btn.black {
    background-color: rgb(0, 0, 0);
    color: white;

}

.head {
    position: relative;
    z-index: 10;
    max-width: 100%;
    height: auto;
    box-shadow: 10px 5px 5px rgb(184, 184, 184);

}

/* nav start */
.head .nav {
    display: flex;
    padding: 30px 60px 30px 120px;
    font-size: 28px;
    font-weight: 600;
}

.head .nav .logo {
    margin-right: auto;
}

.head .nav .nav__ul {
    display: flex;
    gap: 30px;

}

.head .nav .nav__ul .nav__link {
    color: black;
}

/* nav end */

/* hero start */

.main .hero {
    display: flex;
    gap: 200px;
    max-width: 100%;
    height: 680px;
    background-color: var(--clr-main)
}

.main .hero .hero__card {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 750px;
    height: auto;
    align-items: flex-start;
    justify-content: center;
}

.main .hero .hero__card .card__title {
    font-size: 40px;
    font-weight: 600;
}

.main .hero .hero__card .card__subtitle {
    font-size: 20px;
    margin-bottom: 30px;
}

.main .hero .hero__card .buttons {
    display: flex;
    gap: 35px;
}

.main .hero .card__img {
    width: 670px;
    height: 100%;
}

.main .hero .card__img img {
    height: 100%;
    width: 100%;
}

/* hero end */

/* animalsNeedUs start */

.main .animalsNeedUs {
    max-width: 100%;
    max-height: 780px;
    padding: 40px 150px 50px 150px;
    text-align: center;

    border: 1px solid var(--clr-main);
}

.main .animalsNeedUs .animalsNeedUs__title {
    font-size: 30px;
    margin-bottom: 40px;
}

.main .animalsNeedUs .animalsNeedUs__subtitle {
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 45px;
}

.main .animalsNeedUs .animalsNeedUs__cards {
    display: flex;
    gap: 150px;
}


.main .animalsNeedUs .animalsNeedUs__cards .animalsNeedUs__icon {
    color: var(--clr-main);
    font-size: 172px;
}

.main .animalsNeedUs .animalsNeedUs__cards .animalsNeedUs__card-title {
    font-size: 28px;
    margin-bottom: 30px;
}

.main .animalsNeedUs .animalsNeedUs__cards .animalsNeedUs__card-text {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
    opacity: 0.7;
}

/* animalsNeedUs end */

/* workTo start */
.main .workTo {
    width: 100%;
    height: 850px;
    background-color: var(--clr-main);
    display: grid;
    align-items: center;
    justify-items: center;
}

.main .workTo .workTo__wrapper {
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
}

.main .workTo .workTo__wrapper .workTo__title {
    font-size: 38px;
}

.main .workTo .workTo__wrapper .workTo__ul {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 80px;
}

.main .workTo .workTo__wrapper .workTo__ul .workTo__li {
    position: relative;
    font-size: 28px;
    font-weight: 100;
}

.main .workTo .workTo__wrapper .workTo__ul .workTo__li::before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f111";
    top: -5px;
    left: -40px;
}

/* workTo end */

/* animals start */

.main .animals {
    width: 100%;
    height: 620px;
    padding: 40px 100px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    text-align: center;
}

.main .animals .animals__title {
    font-size: 62px;
    font-weight: 800;
}

.main .animals .animals__subtitle {
    font-size: 26px;
}

.main .animals .animals__img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 70px;
}

/* animals end */

/* howWeWork start */
.main .howWeWork {
    width: 100%;
    height: 1230px;
    display: flex;
    flex-direction: column;
}

.main .howWeWork .howWeWork__title {
    text-align: center;
    font-size: 38px;
    margin-bottom: 50px;
}

.main .howWeWork .howWeWork__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.main .howWeWork .howWeWork__cards .howWeWork__card {
    width: 1450px;
    height: 300px;
    border: 1px solid var(--clr-main);
    border-radius: 12px;
    overflow: hidden;
}

.main .howWeWork .howWeWork__cards .howWeWork__card .howWeWork__heading {
    padding: 40px;
    background-color: var(--clr-main);
    font-size: 22px;
}

.main .howWeWork .howWeWork__cards .howWeWork__card .howWeWork__body {
    padding: 40px;
    font-size: 22px;
    font-weight: 600;
    opacity: 0.7;
}

/* howWeWork end */

/* news start */
.main .news {
    width: 100%;
    height: 650px;
    display: flex;
    gap: 100px;

}

.main .news .news__image {
    width: 1000px;
}

.main .news .news__form {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 50px;
    margin-top: 120px;
}

.main .news .news__form .news__title {
    font-size:40px ;
}

.main .news .news__form .news__subtitle {
    font-size: 18px;
    letter-spacing: 1px;
}

.main .news .news__form #email {
    width: 380px;
    height: 80px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 8px;
    font-size: 22px;
    font-weight: bold;
    padding-left: 20px;
}

/* news end */

/* foot start */

.foot {
    width: 100%;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
}

.foot .icons__wrapper {
    display: flex;
    gap: 20px;
    font-size: 44px;
}

.foot .copyright {
    font-size: 20px;
    font-weight: bold;
}

/* foot end */