@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --clr-bg: #f6e0b5;
    --clr-card-bg: #66545e;
    --clr-text: #63505b;
}

body {
    font-family: 'Arial', sans-serif;
}

.btn {

    font-size: 20px;
    font-weight: 600;
    padding: 20px 100px;
    border-radius: 12px;
    border: 1px solid black;
    background-color: white;
}
.black{
    background-color: rgb(0, 0, 0);
    color: white;

}

.head {
    position: relative;
    z-index: 10;
    max-width: 100%;
    height: auto;
    box-shadow: 10px 5px 5px rgb(184, 184, 184);

}

.head .nav {
    display: flex;
    padding: 30px 60px 30px 120px;
    font-size: 28px;
    font-weight: 600;
}

.head .nav .logo {
    margin-right: auto;
}

.head .nav .nav__ul {
    display: flex;
    gap: 30px;

}

.head .nav .nav__ul .nav__link {
    color: black;
}

.main .hero {
    display: flex;
    gap: 200px;
    max-width: 100%;
    height: 680px;
    background-color: #85dcff;
}

.main .hero .hero__card {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 750px;
    height: auto;
    align-items: flex-start;
    justify-content: center;
}

.main .hero .hero__card .card__title {
    font-size: 40px;
    font-weight: 600;
}

.main .hero .hero__card .card__subtitle {
    font-size: 20px;
    margin-bottom: 30px;
}
.main .hero .hero__card .buttons {
    display: flex;
    gap: 35px;
}
.main .hero .card__img {
    max-width: 670px;
    max-height: 100%;
}

.main .hero .card__img img {
    height: 100%;
}