@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

html{
    background-color: black;
    font-family:'Open Sans', sans-serif;
    letter-spacing: 1.6px;
}


.section{
    background-color: white;
    border: 2px solid white;
    margin: 60px auto;
    width: 800px;
    height: 800px;
}
header{
    padding: 12px;
    background-color: black;
}
header p{
    color: white;
    font-size: 28px;
}

h1{
    color: #19e8e2;
    font-size: 52px;
}
.container{
    border:1px solid rgb(0, 0, 0);
    padding: 15px;
    margin: 20px;

    display: flex;
    flex-direction: column;
    flex: 2;
}
.main{
    display: flex;
    flex: 1;
    border: 2px solid black;
}
.main>p{
    padding: 20px;
    display: flex;
    flex: 3;
    font-size: 20px;
}
footer{
    padding: 25px;
    margin-top: 3px;
    position: relative;
    background-color: #d9ebeb;
}
h2{
    padding: 0px 12px;
    position: absolute;
    background-color: black;
    color: white;
    bottom: 145px;
    left: 0;
}
img{
    margin-bottom: 10px;
}
span{
    font-weight: bold;
}