@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css');

/* https://fontawesome.com/search?o=r&m=free */
/* https://fonts.google.com/ */

:root {
    --clr-primary: ;
    --clr-secondary: ;
    --clr-tertiary: ;
    --clr-text: ;

}

body {
    /* font-family: ; */
}