@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

:root {
    --clr-dark-blue: #234465;
    --clr-orange: #ffa000;
    --clr-light-gray: #91a1b2;
}
a{
    text-decoration: none;
}


.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 12px;
    background-color: var(--clr-dark-blue);
}

.header-first {
    width: 150px;
    display: flex;
    align-items: center;
    gap: 80px;
}

.header-second {
    display: flex;
    gap: 25px;
    align-items: center;
}

.ulFirst {
    display: flex;
    flex-direction: row;
    gap: 15px;
}


.navBtn {
    background-color: var(--clr-orange);
    color: white;
    padding: 2px 15px;
    border-radius: 16px;
    border: none;
    font-weight: bold;

}

.ulFirst li a {
    color: var(--clr-light-gray);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.fa-magnifying-glass {
    color: var(--clr-light-gray);

}

.header-three {
    background-color: white;
    width: 80%;
    margin: 0 auto;

}

.header-three ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 10px;
}