body{
    background-color: lightgray;
    padding: 60px;

}
.card{
    margin: 15px;
    max-width: 20%;
    background-color: rgb(230, 199, 219);
    border: 1px solid gray;
}
.card__img{
    width: 100%;
}

button{
    background-color: brown;
    padding: 3px 8px;
    border-radius: 8px;
    color: aliceblue;
    margin-right: 10px;
}
h2{
    text-transform: uppercase;
    padding: 15px 10px;
}

.card__content{
    padding: 10px;
}

.card__buttons{
    padding: 10px;
}
